---
import Card from "./Card.astro";

import launches from '../data/launches.json';
---
<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
    {
        launches.map(
            (launch)=><Card
            name={launch.name}
            img={launch.src}
            />
        )
    }
</div>